{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Main page -->
{% block content %}
<div class="container-fluid">
  <div id="main">
    <div class="header">
      <h1><NEWS-HEADLIGHTS></h1>
    </div>

   <div class="info">
    <div class="container">
      <form class="search-form d-flex p-4">
        <input type="text" name="search_query" placeholder="Search for an article" class="form-control">
        <button type="submit" value="Submit" class="btn btn-dark">Search</button>
      </form>
  
    </div>
   </div>

    <div class="row g-4">
    <!-- <div class="col-md-3"> -->
    <!-- {{ macro.newsOfTheDay(sources_news) }} -->
    <ul>
  
   {% for sources in sources  %}
      <li>
          {{sources.name}}
      </li>
      {% endfor %}
    </ul>
    <!-- </div> -->
    </div>

  </div>
  {% endblock %}